body {
    background: linear-gradient(to right,#36d1dc,#5b86e5);
    font-family: Poppins;
    text-align: center;
    color: white;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid white;
}
.container {
    padding: 10px;
    margin-top: 20px;
    background-color: transparent;
    width: 100%;
    border-radius: 10px;
}
.item {
    width: 100px;
    padding: 10px;
    display: inline-block;
    vertical-align: middle
}
.navbar {
    margin-bottom: 0px;
}
.btn-outline-info {
    color: white;
    border: 2px solid white;
    font-weight: bold;
}
#npdf {
    margin-bottom: 10px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 20px;
}

#pdf {
    margin-bottom: 10px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 20px;
}
#btnstart{
    width: 60%;
    border-style: solid;
    margin: 10px;
    border-radius: 10px;
    font-weight: 500;
}

#lgo {
    margin-bottom: 0;
}

.col-md-4 {
    text-align: center;
}

#welcome {
    color: white;
}

.item {
    width: auto;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: white;
}
.table-danger, .table-danger>td, .table-danger>th {
    background-color: transparent;
    border: 2px solid white;
}
.table-info, .table-info>td, .table-info>th {
    background-color: transparent;
    border: 2px solid white;
}
.login-box {
    width: auto;
    height: auto;
    border-radius: 10px;
    background:  rgb(2, 132, 155);
    color: #fff;
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 50px;
}
#btnlogin{
    width: 80%;
    border: transparent;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    font-weight: 500;
}